<% provide(:title, @page.user.name) %>
<div class=".container-fluid">
  <h3>
      <%= @page.user.name %>
  </h3>
    <% if @page.articles.any? %>
      <strong>Articles (<%= @page.articles.count %>)</strong>
      <% @page.articles.each_slice(3) do |articles|%>
      <div class="row multi-column">
      <ul>
        <%= render articles %>
      </ul>
      <%= will_paginate @articles %>
      </div>
      <% end %>
    <% end %>
</div>